.btn {
    font-size: 1rem;
    display: block;
    width: 15rem;
    height: 3rem;
    background-color: #fff;
    color: #aaa;
    border: none;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    letter-spacing: 1px;
    margin: 20px;
}
.btn-select{
    margin-bottom: 5px!important;
}
.btn-select:after{
    content: "▼";
    float: right;
}
.btn-select-item{
    margin:0!important;
    border-bottom: solid 1px #CCC;
}
.btn-select-item:hover{
    background-color: #F8F8F8;
}
.select-items-div{
    position: fixed;
}